/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
    --bg-cover-image: url(../images/cover-image-dark.png);
    --accent-color: #FF0070;
    --secondary-color: #DB00FF;
    --optional-color: #F1B2CE;
    --bg-color: #000028;
    --border-font-color:var(--accent-color);
    --accent-color-opacity-40: #FF007066;
    --rec-visibility: visible;
    --header-text-color: var(--bg-color);
    --section-text-color: var(--optional-color); 
    --footer-shadow-color:var(--accent-color);
}

@media (prefers-color-scheme: dark) {
    :root {
    --bg-cover-image: url(../images/cover-image-dark.png);
    --accent-color: #FF0070;
    --secondary-color: #DB00FF;
    --optional-color: #F1B2CE;
    --bg-color: #000028;
    --border-font-color:var(--accent-color);
    --accent-color-opacity-40: #FF007066;
    --rec-visibility: visible;
    --header-text-color: var(--bg-color);
    --section-text-color: var(--optional-color); 
    --footer-shadow-color:var(--accent-color);
    }
}


