/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--text-font);
  background-color: var(--bg-color);
  background-image: var(--bg-cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  block-size: 100vh;
}

/*уголки*/
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--border-font-color);
  border-block-start: 1px solid var(--border-font-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--border-font-color);
  border-block-end: 1px solid var(--border-font-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

/*rec с точкой*/
.rec {
  position: absolute;
  visibility: var(--rec-visibility);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  inset-block-start: 10px;
  inset-inline-end: 0px;
}

.rec::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 25px;
  text-align: center;
}

.rec::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

/*кнопки тем*/
.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--border-font-color);
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  border-color: var(--border-font-color);
  cursor: default;
}
/*взаимодействие с кнопками*/
.header__theme-menu-button:hover {
  border-color: var(--accent-color-opacity-40);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--border-font-color);
}

/*шапка*/
.header {
  display: grid;
  align-content: center;
  gap: 55px;
  min-block-size: 100vh;
}

/*список кнопок*/
.header__theme-menu {
  display: grid;
  justify-content: end;
  align-self: end;
  margin: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*заголовок*/
.title {
  justify-self: start;
  margin-inline: 10px;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/*текст под заголовком*/
.header__text {
  margin-inline: 10px;
  color: var(--header-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

/*главный блок*/
.main {
  margin-block-start: 40px;
  padding-inline: 10px;
}

/*Секция*/
.section {
  display: grid;
  margin-block-end: 50px;
}

.section:last-child {
  margin-block-end: 38px;
}
/*Заголовки секции*/
.section__title {
  margin-block-end: 20px;
  color: var(--border-font-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
}
/*подзаголовки секции*/
.section__subtitle {
  margin-block-end: 10px;
  color: var(--header-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.section-advice__title {
  margin-block-end: 20px;
  letter-spacing: 0;
}

.text-regular {
  font-weight: normal;
}
/*Текст секции*/
.section__text {
  color: var(--section-text-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
}

/*ссылки*/
.section__link {
  color: var(--section-text-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  text-decoration: none;
}
/*Взаимдействие с ссылкой*/
.section__link:hover {
  border-bottom: 1px solid var(--border-font-color);
}

.section__link:focus {
  outline: 0;
}

.section__link:focus-visible {
  outline: 1px solid var(--section-text-color);
}

/*артикль*/
.article__list {
  display: grid;
  gap: 20px;
}

.article__item {
  gap: 10px;
}

/*галерея*/
.gallery__images {
  display: grid;
  gap: 10px;
}

.gallery__images-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*подвал*/
.footer {
  display: grid;
  min-block-size: 100vh;
}

.footer__title {
  align-self: center;
  text-shadow: 2px 2px 0 var(--footer-shadow-color);
}

@media (width >=768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .rec {
    inset-block-start: 20px;
    inset-inline-end: 10px;
  }

  .header {
    gap: 162px;
  }

  .header__theme-menu {
    margin-inline: 20px;
  }

  .title {
    justify-self: start;
    margin-inline: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    margin-inline: 20px;
    inline-size: clamp(364px, calc(100% / 2 - 20px), 491px);
  }

  .main {
    margin-block: 60px 60px;
    padding-inline: 20px;
  }

  .section {
    margin-block-end: 80px;
  }

  .section-advice__title {
    letter-spacing: 0;
    margin-block-end: 20px;

  }

  .title__attention {
    inline-size: clamp(236px, calc(100% / 3.5), 315px);
  }

  .section__what {
    grid-template-columns: clamp(236px, calc(100% / 3.5), 315px) 1fr;
    gap: 20px;
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 10px;
  }

  .gallery__images-item {
    padding: 0;
  }

  .gallery__images-item:nth-child(1) {
    grid-column-start: span 2;
  }

  .gallery__images-item:nth-child(2) {
    grid-row-start: span 2;
    object-fit: cover;
  }

  .gallery__images-item:nth-child(3) {
    grid-row-start: span 2;
    object-fit: cover;
  }

  .gallery__images-item:nth-child(4) {
    grid-row-start: span 1;
  }

  .gallery__images-item:nth-child(5) {
    grid-column-start: span 2;
  }

  .footer {
    justify-content: center;
  }
}

@media (width >=1024px) {
  .header {
    align-content: start;
    gap: 114px;
  }

  .header__theme-menu {
    justify-content: center;
    align-self: center;
    margin: 20px;
    margin-block-end: 159px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    text-overflow: ellipsis;
  }

  .section__what {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .section__attention {
    grid-template-columns: repeat(3, 1fr);
  }
}
